

<%= form_with(model: @letter, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
    <h3><%= @letter.errors.count %>件のエラーがあります。</h3>
     <ul>
      <% @letter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
     </ul>
    </div>
<% end %>



<div class="jumbotron">
    <p><%= form.text_field :content %></p>
     <p class="btn btn-Default btn-lg" role="button"><%= form.submit %></p>
</div>

  <% end %>
