　<%= form_with(model: @letter, local: true) do |form| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
    <h2><%= @letter.errors.count %>件のエラーがあります。</h2>
     <ul>
      <% @letter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
     </ul>
    </div>
<% end %>


  <div class="letter_content">
    <tr>
     <th><%= form.label :content %> </th>
     <td><%= form.text_field :content %> </td>
   </tr> 
  
   <p><%= form.submit %></p>
  
  </div> 
  
  <% end %>

   





