<h1>以下の内容で投稿する</h1>
<br>
<%= form_with(model: @letter, url: letters_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
<br>
  <p><%= @letter.content %></p>
<br>  
  <p><%= form.submit  "手紙を書く" %> </p>
<% end %>
<br>
<%= form_with(model: @letter, url: new_letter_path, local: true, method: 'get') do |form| %>
  <p><%= form.hidden_field :content %></p>
　<p><%= form.submit "もどる", name: 'back' %></p>
<% end %>