<div class="container">

　 <div class="header">
		<header>
			<div class ="tab_area clearfix">
				<ul class="tab clearfix" >
					<li>
        <%= link_to root_path do %> Home
        <% end %>
         </li>
			    <li><%= link_to new_letter_path do %>Letter
			     <% end %></li>
			    <li><%= link_to letters_path do %>List
			    <% end %></li>
			     
				</ul>
			</div>
	</header>
</div>
　
 <div class="letter_content2">
   　
　<h2>手紙一覧</h2>

　<p><%= notice %></p>
　


<table>
<% @letter.each do |letter| %>
  <tr>
    <td><%= letter.content %></td>
    <td><%= link_to '詳細を確認する', letter_path(letter.id) %></td>
    <td><%= link_to "編集する", edit_letter_path(letter.id), data: { confirm: '編集しますか？' } %></td>
    <td><%= link_to '削除する', letter_path(letter.id), method: :delete ,data: { confirm: '削除しますか？' } %></td>
  </tr>
  
<% end %>
</table>
</div>


