 <div class="letter_content2">
　<h2>手紙リスト</h2>

　<p><%= notice %></p>

<div class="container">
    <div class="row">
<table>
<% @letter.each do |letter| %>
 <div class="btn-group" role="group" aria-label="...">
  <tr>
  <th><%= letter.content %></th>
  <th>
    <td> <button type="button" class="btn btn-Default"><%= link_to '詳細確認', letter_path(letter.id) %></button></td>
    <td> <button type="button" class="btn btn-Default"><%= link_to "編集する", edit_letter_path(letter.id), data: { confirm: '編集しますか？' } %></button></td>
    <td> <button type="button" class="btn btn-Default"><%= link_to '削除する', letter_path(letter.id), method: :delete ,data: { confirm: '削除しますか？' } %></button></td>
  </th>

  <% end %>
 </tr>
 </table>
 </div>
</div>

</div>
</div>
